In [27]:
import time

import pandas as pd
import warnings
from pandas.core.common import SettingWithCopyWarning
from yahoo_fin import stock_info as si
import datetime
import pickle
import tqdm
import numpy as np
import pandas_market_calendars as mcal
import os
import emoji
import gspread
import df2gspread as d2g

In [2]:

gc = gspread.oauth(credentials_filename="client_secret_279764153689-2rq7k9683jqc57dh9o6lf30jvatdec7m.apps.googleusercontent.com.json",)

In [3]:
warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)
warnings.simplefilter(action='ignore', category=FutureWarning)

In [4]:
today = datetime.datetime.today().date()
s_date = '2021-12-31'
nyse = mcal.get_calendar('NYSE') # set up calendar
market_days = nyse.valid_days(start_date=s_date, end_date=today).date # get valid market days

In [5]:
def create_initials():
    """
    creates the initial allocations using the provided CSV
    :return: a pandas df of initial allocations
    """
    inital_allocs = pd.read_csv('assets/init_alloc.csv', index_col='stocks') # read in initial allc csv
    inital_allocs = inital_allocs*1000000 # convert to $ value
    stocks = list(inital_allocs.index) # put all stocks in list
    px_dat = [] # px data for day 0
    for stock in stocks:# loop through all stocks
        k = si.get_data(stock, start_date='2021-12-31', end_date='2022-01-01', interval='1d') # request relevant info
        px = k['close'].iloc[0] # take only the closing px on the day
        px_dat.append(px) # append to the list
    inital_allocs['px_dat'] = px_dat # add px data to alloc df
    init_shares = inital_allocs.floordiv(inital_allocs['px_dat'].to_numpy(), axis=0) # ensures
    init_shares['px_dat'] = px_dat
    init_shares.to_csv("assets/shares.csv", index = True)
    return init_shares

In [6]:
create_initials()

,Anish,Emily,Paul,Kirby,Hosegood,Leong,Olivia,Brokaw,Eric H,Kyle Cross,...,Baldridge,Rubyann,Mac,Madison,Karsa,Sergio,Daniel K,Candice,Debbie,px_dat
stocks,,,,,,,,,,,,,,,,,,,,,
RIVN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,964.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,103.690002
LCID,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2628.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,38.049999
APPS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1639.0,0.0,4099.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,60.990002
BUR,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9469.0,0.0,4734.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.560000
FIGS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3628.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27.559999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
NIO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3156.0,0.0,31.680000
SNAP,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2126.0,47.029999
HUT,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12738.0,7.850000
UBER,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2384.0,41.930000
SBUX,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,854.0,116.970001

In [7]:
def update_stocklist(stocks_in=[], stocks_out=[]):
    """
    create a security master file
    :param stocks_in: stocks that are going into portfolios.
    :param stocks_out: Stocks comming out of portfolios
    :return:
    """
    try: #try to do the following
        with open('assets/stock_list.pkl', 'rb') as f: # open the stock list pickle file
            stock_list = pickle.load(f) # load the file
        new = [] # this is a new list of stocks
        for s in stock_list: # for every stock in the list of existing stocks
            if s not in stocks_out: # if the stock is not in the out list
                new.append(s) # keep the stock in the master stock list
        for t in stocks_in: # for every stock in the list of new stocks
            if t not in new: # if the stock is NOT in the master already
                new.append(t) # add it
        with open('assets/stock_list.pkl', 'wb') as f: # re-open the pickle file
            pickle.dump(new, f) # save it
    except: #otherwise
        with open('assets/stock_list.pkl', 'wb') as f: # just create a new master using the new assets
            pickle.dump(stocks_in, f) # save it
    return

In [36]:
update_stocklist(stocks_in=['SNAP', 'HUT', 'UBER', 'SBUX'], stocks_out=[])

In [8]:
def update_px():
    """
    update the prices of the stocks in the system
    :return:
    """
    with open('assets/stock_list.pkl', 'rb') as f: # open tha master stock list
        stock_list = pickle.load(f) # load into the system
    today = datetime.datetime.today().date().strftime('%Y-%m-%d') # set the date
    # for every stock in the system get stock price data and save to a csv
    for stock in tqdm.tqdm(stock_list):
        k = si.get_data(stock, start_date='2021-12-31', end_date=today, interval='1d') # request relevant info
        k.to_csv('assets/px_dat/{}_px.csv'.format(stock))
    return

In [9]:
def update_bm():
    """
    update the benchmark data
    :return:
    """
    with open('assets/bm_list.pkl', 'rb') as f: # open the BM master list
        stock_list = pickle.load(f) # load into the system
    today = datetime.datetime.today().date().strftime('%Y-%m-%d') # today's date
    #for every stock in the system get stock price data and save to a csv
    for stock in tqdm.tqdm(stock_list):
        k = si.get_data(stock, start_date='2021-12-31', end_date=today, interval='1d') # request relevant info
        k.to_csv('assets/bm_dat/{}_px.csv'.format(stock))
    return

In [10]:
def update_divs():
    """
    update dividend data for all stocks
    :return:
    """
    with open('assets/stock_list.pkl', 'rb') as f: # open tha master stock list
        stock_list = pickle.load(f) # load into the system
    today = datetime.datetime.today().date().strftime('%Y-%m-%d') # set the date
   # for every stock in the system get stock dividend data and save to a csv
    for stock in tqdm.tqdm(stock_list):
        k = si.get_dividends(stock, start_date='2021-12-31', end_date=today) # request relevant info
        k.to_csv('assets/dividends/{}_div.csv'.format(stock))
    return

In [44]:
update_px()

100%|██████████| 150/150 [00:19<00:00,  7.58it/s]

In [46]:
update_divs()

100%|██████████| 150/150 [00:17<00:00,  8.43it/s]

In [47]:
update_bm()

100%|██████████| 8/8 [00:01<00:00,  7.65it/s]

In [48]:
shares = pd.read_csv('assets\shares.csv', index_col = 0)
trades = shares['Debbie']
trades = trades[trades>0].to_dict()
trades
generate_snap('Debbie', date = '2021-12-31', trades = trades, cash = 1000000)

,Shares,Cost Per Share,Cost Basis,Current Price,As of 2021-12-31,Return
AMZN,29.0,3334.340088,96695.862549,3334.340088,96695.862549,0.0
HD,240.0,415.01001,99602.402344,415.01001,99602.402344,0.0
PFE,1693.0,59.049999,99971.648708,59.049999,99971.648708,0.0
PYPL,530.0,188.580002,99947.400970,188.580002,99947.400970,0.0
NKE,599.0,166.669998,99835.328903,166.669998,99835.328903,0.0
LUV,2334.0,42.84,99988.560356,42.84,99988.560356,0.0
SNAP,2126.0,47.029999,99985.777405,47.029999,99985.777405,0.0
HUT,12738.0,7.85,99993.298785,7.85,99993.298785,0.0
UBER,2384.0,41.93,99961.120728,41.93,99961.120728,0.0
SBUX,854.0,116.970001,99892.381042,116.970001,99892.381042,0.0
Cash,4126.218209,1.0,4126.218209,1.0,4126.218209,0.0
Total,,,1000000.000000,,1000000.000000,0.0

In [14]:
def generate_snap(name, date, trades = {}, cash = 1000000):
    """
    creates a portfolio appraisal
    :param name: <str> name of the player
    :param date: <str> the date in question format is YYYY-MM-DD
    :param trades: <dict> list of trades to execute
    :return: <df> appraisal
    """
    # initial trade
    if date == '2021-12-31': # assuming its the initial trade day:
        position = pd.DataFrame(trades, index=["Shares"]).T # Create the initial positions
        px = [pd.read_csv('assets\px_dat\{}_px.csv'.format(i), index_col=0).loc[date]['close'] for i in position.index] # read the price data
        position['Cost Per Share'] = px # add price data to the initial positions df
        position['Cost Basis'] = position['Cost Per Share'] * position['Shares'] # calculate cost basis
        position['Current Price'] = px # current px is also the close in this case
        position['As of {}'.format(date)] = position['Current Price'] * position['Shares'] # calculate currenc vlaue
        position['Return'] = (position['As of {}'.format(date)]/position['Cost Basis'])-1 # calculate position returns
        divs = [] # set up dividend list
        # get dividends
        for stock in position.index: # loop through stocks
            d_dat = pd.read_csv('assets\dividends\{}_div.csv'.format(stock), index_col=0) # get div data
            d_dat.index = pd.to_datetime(d_dat.index) # set dates as datetime
            d_dat = d_dat[d_dat.index==pd.to_datetime(date)] # isolate today's date
            if len(d_dat)>0: # if dividend data exists
                divs.append(d_dat['dividend'].loc[pd.to_datetime(date)]) # add it to the divs list
            else:
                divs.append(0) # otherwise just add 0
        div_pay = np.dot(position['Shares'], np.array(divs))
        new_cash = cash - np.sum(position['As of {}'.format(date)]) + div_pay #  calculate the new cash position
        cash_pos = pd.DataFrame({"Shares":new_cash, "Cost Per Share": 1, "Cost Basis" : new_cash,
                                 "Current Price": 1, 'As of {}'.format(date): new_cash, "Return":0}, index = ["Cash"]) # create cash line
        position = pd.concat([position, cash_pos]) # combine cash line with positions
        total_line = pd.DataFrame({'Cost Basis': position['Cost Basis'].sum(),
                                   'As of {}'.format(date): position['As of {}'.format(date)].sum()}, index = ["Total"])# create total line
        total_line['Return'] = (total_line['As of {}'.format(date)]/total_line['Cost Basis'])-1 # calculate portfolio total return (like this for day one only)
        position = pd.concat([position, total_line]) # combine total with positions
        position = position.fillna("") # fill all nas with white space
        position.to_csv('assets/port_apps/{}_apr_{}.csv'.format(name, date)) # create csv
    else:
        loc = np.where(market_days== pd.to_datetime(date))[0][0] # finde the location of todays date in the market days calendar
        previous_loc = loc-1 # go back one day
        prev_date = market_days[previous_loc].strftime("%Y-%m-%d") # get yesterday's date
        position = pd.read_csv("assets/port_apps/{}_apr_{}.csv".format(name, prev_date),index_col = 0) # get the previous apraisal
        previous_cash = position.loc['Cash']['As of {}'.format(prev_date)] # store the cash value
        previous_port_val = position['As of {}'.format(prev_date)].iloc[:-1].sum()
        px = [pd.read_csv('assets\px_dat\{}_px.csv'.format(i), index_col=0).loc[date]['close'] for i in position.index[:-2]] # read the price data
        px.append(1) #append for cash
        px.append('') # append for total
        position['Current Price'] = px # current px
        position['As of {}'.format(date)] = position['Current Price'] * position['Shares'] # calculate currenc vlaue
        position['Return'] = (position['As of {}'.format(date)]/position['Cost Basis'])-1 # calculate position returns
        divs = [] # set up dividend list
        # get dividends
        for stock in position.index[:-2]: # loop through stocks
            d_dat = pd.read_csv('assets\dividends\{}_div.csv'.format(stock), index_col=0) # get div data
            d_dat.index = pd.to_datetime(d_dat.index) # set dates as datetime
            d_dat = d_dat[d_dat.index==pd.to_datetime(date)] # isolate today's date
            if len(d_dat)>0: # if dividend data exists
                divs.append(d_dat['dividend'].loc[pd.to_datetime(date)]) # add it to the divs list
            else:
                divs.append(0) # otherwise just add 0
        div_pay = np.dot(position['Shares'].iloc[:-2], np.array(divs))
        new_cash = previous_cash+div_pay
        if len(trades.keys())>0:
            new_position = pd.DataFrame(trades, index=["Shares"]).T # Create the initial positions
            px_new = [pd.read_csv('assets\px_dat\{}_px.csv'.format(i), index_col=0).loc[date]['close'] for i in new_position.index] # read the price data
            new_position['Cost Per Share'] = px_new # add price data to the initial positions df
            new_position['Cost Basis'] = new_position['Cost Per Share'] * new_position['Shares'] # calculate cost basis
            new_position['Current Price'] = px_new # current px is also the close in this case
            new_position['As of {}'.format(date)] = new_position['Current Price'] * new_position['Shares'] # calculate currenc vlaue
            if new_cash - new_position['As of {}'.format(date)].sum() > 0: # make sure new cash is greater than 0
                new_cash = new_cash - new_position['As of {}'.format(date)].sum() # adjust cash for new positions
                new_apr = pd.concat([position.iloc[:-2], new_position]) # combine old positions with new
                new_apr = new_apr.drop(['As of {}'.format(prev_date)], axis = 1) # remove old value
                updated_apr = pd.DataFrame() # this is the new appraisal df
                for stock in new_apr.index.unique(): # loop through the stocks
                    df = new_apr[new_apr.index==stock] # isolate stock lines
                    if len(df)<2: # if there is only one line just send that to the new df
                        updated_apr = pd.concat([updated_apr, df])
                    else:
                        post_ex_shares = df['Shares'].sum() # add shares
                        post_ex_cost_basis = df['Cost Basis'].sum() # combine cost basis
                        post_ex_as_of = df['As of {}'.format(date)].sum() # combine values
                        post_ex_cost_per = post_ex_cost_basis/post_ex_shares # back out per share cost
                        post_ex_cur = post_ex_as_of/post_ex_shares # share value
                        to_apr = pd.DataFrame({"Shares":post_ex_shares, "Cost Per Share":post_ex_cost_per,
                                               "Cost Basis": post_ex_cost_basis, "Current Price": post_ex_cur,
                                               'As of {}'.format(date): post_ex_as_of}, index=[stock]) # create the df line
                        updated_apr = pd.concat([updated_apr, to_apr]) # add the new position to the apr
                position = updated_apr.copy(deep = True) # this is now the new position
            else:
                pass
        else:
            position = position.iloc[:-2]
            position = position.drop(['As of {}'.format(prev_date)], axis = 1)
        position['Return'] = (position['As of {}'.format(date)]/position['Cost Basis'])-1 # calculate position returns
        cash_pos = pd.DataFrame({"Shares":new_cash, "Cost Per Share": 1, "Cost Basis" : new_cash,
                                 "Current Price": 1, 'As of {}'.format(date): new_cash, "Return":0}, index = ["Cash"]) # create cash line
        position = pd.concat([position, cash_pos]) # combine cash line with positions
        total_line = pd.DataFrame({'Cost Basis': position['Cost Basis'].sum(),
                                   'As of {}'.format(date): position['As of {}'.format(date)].sum()}, index = ["Total"])# create total line
        total_line['Return'] = (total_line['As of {}'.format(date)]/1000000)-1 # calculate portfolio total return (like this for day one only)
        position = pd.concat([position, total_line]) # combine total with positions
        position = position.fillna("") # fill all nas with white space
        position.to_csv('assets/port_apps/{}_apr_{}.csv'.format(name, date)) # create csv
        position= position.reset_index()
        sh = gc.open("sc_aps")
        try:
            worksheet = sh.worksheet('{}_apr'.format(name))
        except:
            worksheet = sh.add_worksheet('{}_apr'.format(name), 100, 100)
        worksheet.update([position.columns.values.tolist()] + position.values.tolist())


    return position

In [15]:
# update performance
def update_perf(name):
    apr_path = "assets/port_apps" # path to appraisal file
    apr_list = os.listdir(apr_path) # create list of apraisals
    relev_files = [i for i in apr_list if i.split("_")[0]==name]
    dates = []
    values = []
    for file in relev_files:
        df = pd.read_csv('{}/{}'.format(apr_path,file), index_col=0)
        date = file.split("_")[-1]
        date = date.split(".")[0]
        dates.append(date)
        val = df["As of {}".format(date)].loc['Total']
        values.append(val)
    perf_file = pd.DataFrame({"Date":dates, "Value": values})
    perf_file['Daily Return']=perf_file['Value'].pct_change().fillna(0)
    perf_file['Total Return'] = (perf_file['Value']/perf_file['Value'].iloc[0])-1
    bm_key = pd.read_csv("assets/Player_bm.csv", index_col=0)
    bm = bm_key[bm_key["Name"]==name]["Benchmark"].iloc[0]
    bm_px = pd.read_csv("assets/bm_dat/{}_px.csv".format(bm), index_col=0)
    bm_px = bm_px.filter(['adjclose'])
    bm_px['{} Daily Return'.format(bm)] = bm_px['adjclose'].pct_change().fillna(0)
    bm_px['{} Total Return'.format(bm)] = (bm_px['adjclose']/bm_px['adjclose'].iloc[0])-1
    perf_file=perf_file.set_index('Date').join(bm_px)
    perf_file.to_csv("assets/performance/{}_perf.csv".format(name))
    sh = gc.open("sc_perf")
    try:
        worksheet = sh.worksheet('{}_perf'.format(name))
    except:
        worksheet = sh.add_worksheet('{}_perf'.format(name), 500, 500)
    worksheet.update([perf_file.columns.values.tolist()] + perf_file.values.tolist())



    return perf_file

In [60]:
def update_league_tab():
    path = "assets/performance"
    perf_list = os.listdir(path)
    names = []
    one_day = []
    five_day = []
    one_month = []
    qtr = []
    s_inc = []
    bm_names = []
    bm = []
    for doc in perf_list:
        names.append(doc.split('_')[0])
        rets = pd.read_csv("{}/{}".format(path,doc))
        bm_name= rets.columns[-1].split(" ")[0]
        bm_names.append(bm_name)
        one_day.append(rets['Daily Return'].iloc[-1])
        try:
            fiv = np.prod(rets['Daily Return'].iloc[-5:] + 1)-1
        except:
            fiv = np.prod(rets['Daily Return'] + 1)-1
        try:
            mth = np.prod(rets['Daily Return'].iloc[-21:] + 1)-1
        except:
            mth = np.prod(rets['Daily Return'] + 1)-1
        try:
            qt = np.prod(rets['Daily Return'].iloc[-63:] + 1)-1
        except:
            qt = np.prod(rets['Daily Return'] + 1)-1
        si = np.prod(rets['Daily Return'] + 1)-1
        bms = rets['{} Total Return'.format(bm_name)].iloc[-1]
        five_day.append(fiv)
        one_month.append(mth)
        qtr.append(qt)
        s_inc.append(si)
        bm.append(bms)
    league = pd.DataFrame({"Player":names, "1-Day":one_day, "5-Day":five_day, "One Month":one_month,
                          "One Quarter":qtr, "Since Inception":s_inc, "Benchmark Ticker":bm_names,"Benchmark Return":bm})
    league = league.sort_values(['Since Inception'], ascending=False)
    stars = [emoji.emojize(":money_with_wings:", language='alias') for i in range(0,5)]
    poop = [emoji.emojize(":poop:", language='alias') for i in range(0,5)]
    unam = [emoji.emojize(":unamused:", language='alias') for i in range(0,17)]
    status = stars+unam+poop
    league['Status'] = status
    league = league.reset_index(drop=True)
    date = rets['Date'].iloc[-1]
    league.to_csv("league_{}.csv".format(date))
    sh = gc.open("league")
    try:
        worksheet = sh.worksheet('league')
    except:
        worksheet = sh.add_worksheet('league', 500, 500)
    worksheet.update([league.columns.values.tolist()] + league.values.tolist())


    return league

update_league_tab()

,Player,1-Day,5-Day,One Month,One Quarter,Since Inception,Benchmark Ticker,Benchmark Return,Status
0,Melinda,0.004155,0.020162,0.057694,0.057945,0.057945,VLUE,-0.009839,💸
1,Westy,0.011351,0.032006,0.087276,0.027170,0.027170,IVW,-0.060437,💸
2,Karsa,0.036143,0.058110,0.015740,-0.011625,-0.011625,IYC,-0.077938,💸
3,Olivia,0.022836,0.026521,0.060605,-0.022146,-0.022146,IVW,-0.060437,💸
4,Kirby,0.012813,0.049174,0.118293,-0.026173,-0.026173,IVW,-0.060437,💸
5,Eric H,0.004921,0.031360,0.090846,-0.026531,-0.026531,IVV,-0.024697,😒
6,Nour,0.017486,0.029463,0.061642,-0.043053,-0.043053,IVW,-0.060437,😒
7,Rubyann,0.025937,0.027866,0.019473,-0.054244,-0.054244,IVW,-0.060437,😒
8,AK,0.009655,0.002573,0.057101,-0.062970,-0.062970,MTUM,-0.047774,😒
9,Baldridge,0.031575,0.018970,0.059825,-0.075307,-0.075307,IWM,-0.046410,😒
10,Daniel K,0.019862,0.029820,0.048456,-0.079894,-0.079894,QUAL,-0.053385,😒
11,Mac,0.024635,0.029760,-0.010409,-0.098185,-0.098185,VLUE,-0.009839,😒
12,Jon T,0.019429,0.036799,0.084038,-0.103451,-0.103451,IVW,-0.060437,😒
13,Weinstein,0.033420,0.065006,0.071299,-0.107800,-0.107800,IYC,-0.077938,😒
14,Sergio,0.024645,0.016785,0.067743,-0.109110,-0.109110,IVW,-0.060437,😒
15,Anish,0.019164,0.009958,0.050105,-0.117982,-0.117982,IVW,-0.060437,😒
16,Paul,0.027479,0.024750,-0.017450,-0.128351,-0.128351,IVW,-0.060437,😒
17,Madison,0.019766,0.036462,0.077357,-0.151374,-0.151374,IVW,-0.060437,😒
18,Debbie,0.020773,0.034320,0.033786,-0.152370,-0.152370,IVW,-0.060437,😒
19,Brokaw,0.042013,0.056705,0.051271,-0.165241,-0.165241,IVW,-0.060437,😒
20,Emily,0.025305,0.019753,-0.005981,-0.170237,-0.170237,IYW,-0.072537,😒
21,Leong,0.030430,0.028245,0.019007,-0.175735,-0.175735,IYC,-0.077938,😒
22,Farrah,0.032035,0.061985,0.053994,-0.179823,-0.179823,IVW,-0.060437,💩
23,Candice,0.028457,-0.014340,-0.056615,-0.206529,-0.206529,IVV,-0.024697,💩
24,Hosegood,0.069828,0.055209,-0.013286,-0.221261,-0.221261,IWM,-0.046410,💩
25,Bob,0.033531,0.046132,0.069353,-0.223383,-0.223383,IYW,-0.072537,💩
26,Kyle Cross,0.055918,0.013619,-0.040138,-0.297173,-0.297173,IWM,-0.046410,💩

In [56]:
# create_updates
port_shares = pd.read_csv('assets/shares.csv',index_col=0) # read the shares csv into the system
date = market_days[-2]
date = date.strftime("%Y-%m-%d")
for name in port_shares.columns[:-1]:
    time.sleep(2)
    generate_snap(name=name, date=date, cash=0)

for name in port_shares.columns[:-1]:
    time.sleep(2)
    update_perf(name)

In [59]:
for d in market_days[-3:-1]:
    time.sleep(2)
    d = d.strftime("%Y-%m-%d")
    generate_snap(name='Debbie', date=d)
    time.sleep(1)
    update_perf("Debbie")

In [20]:
#id_bms for all
#names = [name for name in port_shares.columns[:-1]]
#bms = [id_bm(name) for name in port_shares.columns[:-1]]
#bm_df = pd.DataFrame({"Name": names, "Benchmark":bms})
#bm_df.to_csv("assets/Player_bm.csv")

In [19]:
def id_bm(name):
    """
    gets benchmark for port
    """
    port_shares = pd.read_csv('assets/shares.csv',index_col=0)  # read in portfolio data
    bm_dat = pd.read_csv('assets/bm_dat.csv', index_col = 0) # read bm_data
    port = port_shares[name].to_frame() # isolate the portfolio in question
    port = port[port[name]!=0] # eliminate every row that equals 0
    holdings = set(port.index) # create a set of holdings
    overlap = [] # overlaping list
    for b in bm_dat.columns[:-1]: # go through the benchmarks and look for overlaps
        stk = bm_dat[b].to_frame()
        stk = stk[stk[b]!=0]
        b_hold = set(stk.index)
        over = holdings & b_hold
        overlap.append((b, len(over)))
    overlap.sort(key=lambda x: x[1], reverse = True) # sort the overlap list by most to least overlap
    finalists = overlap[0:1] # chose finalists
    # chose the etf in question as a bm.
    if finalists[0][1]== 0:
        bm = bm_dat.columns[-1]
    else:
        bm = finalists[0][0]



    return bm

In [59]:
id_bm("Anish")

'IVW'

['QUAL', 'MTUM', 'VLUE', 'IWM', 'IVW', 'IYW', 'IYC', 'IVV']

,stock,QUAL,MTUM,VLUE,IWM,IVW,IYW,IYC,IVV
0,T,0.00000,0.00000,7.19575,0.00000,0.00000,0.00000,0.00000,0.46190
1,INTC,1.18210,0.00000,5.64419,0.00000,0.00000,1.93978,0.00000,0.49526
2,MU,0.00000,0.00000,4.03235,0.00000,0.00000,1.08384,0.00000,0.27464
3,CSCO,1.66228,0.00000,3.68796,0.00000,0.59213,0.00000,0.00000,0.65348
4,F,0.00000,1.00559,3.04572,0.00000,0.00000,0.00000,1.33617,0.19237
...,...,...,...,...,...,...,...,...,...
3010,CHWY,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
3011,USD,0.00000,0.00000,0.00000,0.05323,0.04958,0.05267,0.02993,0.11133
3012,SOFI,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
3013,LCID,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
3014,HOOD,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000

In [70]:

bm_key

          Name Benchmark
0        Anish       IVW
1        Emily       IYW
2         Paul       IVW
3        Kirby       IVW
4     Hosegood       IWM
5        Leong       IYC
6       Olivia       IVW
7       Brokaw       IVW
8       Eric H       IVV
9   Kyle Cross       IWM
10         Bob       IYW
11   Weinstein       IYC
12          AK      MTUM
13        Nour       IVW
14       Jon T       IVW
15     Melinda      VLUE
16       Westy       IVW
17      Farrah       IVW
18  Baldridge        IWM
19     Rubyann       IVW
20         Mac      VLUE
21     Madison       IVW
22       Karsa       IYC
23      Sergio       IVW
24    Daniel K      QUAL
25     Candice       IVV

In [51]:
print(emoji.emojize(':poop:'))

:poop:

In [52]:
df = pd.read_csv("assets/performance/Anish_perf.csv")
df

,Date,Value,Daily Return,Total Return,adjclose,IVW Daily Return,IVW Total Return
0,2021-12-31,1.000000e+06,0.000000,0.000000,83.528221,0.000000,0.000000
1,2022-01-03,1.016174e+06,0.016174,0.016174,84.177124,0.007769,0.007769
2,2022-01-04,1.002549e+06,-0.013408,0.002549,83.338554,-0.009962,-0.002271
3,2022-01-05,9.689505e+05,-0.033513,-0.031049,80.802856,-0.030426,-0.032628
4,2022-01-06,9.797765e+05,0.011173,-0.020223,80.573242,-0.002842,-0.035377
5,2022-01-07,9.778325e+05,-0.001984,-0.022168,79.794563,-0.009664,-0.044699
6,2022-01-10,9.735195e+05,-0.004411,-0.026480,79.854462,0.000751,-0.043982
7,2022-01-11,9.882171e+05,0.015097,-0.011783,80.722984,0.010876,-0.033584
8,2022-01-12,9.822882e+05,-0.006000,-0.017712,81.112328,0.004823,-0.028923
9,2022-01-13,9.647524e+05,-0.017852,-0.035248,79.085770,-0.024985,-0.053185
10,2022-01-14,9.602064e+05,-0.004712,-0.039794,79.305397,0.002777,-0.050556
11,2022-01-18,9.310654e+05,-0.030349,-0.068935,77.468513,-0.023162,-0.072547
12,2022-01-19,9.197738e+05,-0.012128,-0.080226,76.520126,-0.012242,-0.083901
13,2022-01-20,8.895495e+05,-0.032861,-0.110451,75.521820,-0.013046,-0.095853
14,2022-01-21,8.718609e+05,-0.019885,-0.128139,73.585098,-0.025645,-0.119039
15,2022-01-24,8.806420e+05,0.010072,-0.119358,74.064293,0.006512,-0.113302
16,2022-01-25,8.597752e+05,-0.023695,-0.140225,72.546860,-0.020488,-0.131469
17,2022-01-26,8.522244e+05,-0.008782,-0.147776,72.626732,0.001101,-0.130513
18,2022-01-27,8.431546e+05,-0.010642,-0.156845,72.047707,-0.007973,-0.137445
19,2022-01-28,8.569623e+05,0.016376,-0.143038,74.493561,0.033948,-0.108163
20,2022-01-31,8.881291e+05,0.036369,-0.111871,76.510139,0.027071,-0.084020
21,2022-02-01,9.015631e+05,0.015126,-0.098437,76.929420,0.005480,-0.079001
22,2022-02-02,8.799497e+05,-0.023973,-0.120050,77.917755,0.012847,-0.067169
23,2022-02-03,8.507355e+05,-0.033200,-0.149264,75.032646,-0.037028,-0.101709
24,2022-02-04,8.653279e+05,0.017153,-0.134672,75.971054,0.012507,-0.090474
25,2022-02-07,8.790460e+05,0.015853,-0.120954,75.372070,-0.007884,-0.097645
26,2022-02-08,9.065739e+05,0.031316,-0.093426,76.070877,0.009271,-0.089279
27,2022-02-09,9.225307e+05,0.017601,-0.077469,77.478493,0.018504,-0.072427
28,2022-02-10,9.139818e+05,-0.009267,-0.086018,75.751427,-0.022291,-0.093104
29,2022-02-11,8.947276e+05,-0.021066,-0.105272,73.575119,-0.028730,-0.119159
30,2022-02-14,8.853807e+05,-0.010447,-0.114619,73.565140,-0.000136,-0.119278
31,2022-02-15,8.958173e+05,0.011788,-0.104183,75.112511,0.021034,-0.100753
32,2022-02-16,8.906265e+05,-0.005795,-0.109374,75.142456,0.000399,-0.100394
33,2022-02-17,8.624502e+05,-0.031636,-0.137550,73.036041,-0.028032,-0.125612
34,2022-02-18,8.501971e+05,-0.014207,-0.149803,72.287308,-0.010252,-0.134576
35,2022-02-22,8.413849e+05,-0.010365,-0.158615,71.358887,-0.012843,-0.145691
36,2022-02-23,8.193935e+05,-0.026137,-0.180606,69.691711,-0.023363,-0.165651
37,2022-02-24,8.307675e+05,0.013881,-0.169232,71.828079,0.030655,-0.140074
38,2022-02-25,8.452427e+05,0.017424,-0.154757,73.006081,0.016400,-0.125971
39,2022-02-28,8.399326e+05,-0.006282,-0.160067,73.125885,0.001641,-0.124537
40,2022-03-01,8.254763e+05,-0.017211,-0.174524,71.957863,-0.015973,-0.138520
41,2022-03-02,8.442667e+05,0.022763,-0.155733,73.265648,0.018174,-0.122864
42,2022-03-03,8.274526e+05,-0.019916,-0.172547,72.466995,-0.010901,-0.132425
43,2022-03-04,8.189507e+05,-0.010275,-0.181049,71.538582,-0.012812,-0.143540
44,2022-03-07,7.797743e+05,-0.047837,-0.220226,68.833168,-0.037818,-0.175929
45,2022-03-08,7.844601e+05,0.006009,-0.215540,68.443825,-0.005656,-0.180590
46,2022-03-09,8.117840e+05,0.034832,-0.188216,70.999496,0.037340,-0.149994
47,2022-03-10,8.028613e+05,-0.010992,-0.197139,70.470383,-0.007452,-0.156328
48,2022-03-11,7.894618e+05,-0.016690,-0.210538,69.202538,-0.017991,-0.171507
49,2022-03-14,7.816105e+05,-0.009945,-0.218389,68.214218,-0.014282,-0.183339
50,2022-03-15,8.033558e+05,0.027821,-0.196644,70.290695,0.030441,-0.158480
51,2022-03-16,8.293337e+05,0.032337,-0.170666,72.437050,0.030535,-0.132784
52,2022-03-17,8.488804e+05,0.023569,-0.151120,73.405403,0.013368,-0.121190
53,2022-03-18,8.690398e+05,0.023748,-0.130960,74.832985,0.019448,-0.104099
54,2022-03-21,8.632020e+05,-0.006717,-0.136798,74.693222,-0.001868,-0.105773
55,2022-03-22,8.733212e+05,0.011723,-0.126679,75.951088,0.016840,-0.090713
56,2022-03-23,8.542595e+05,-0.021827,-0.145740,74.822998,-0.014853,-0.104219
57,2022-03-24,8.653650e+05,0.013000,-0.134635,76.260002,0.019205,-0.087015

port = pd.read_csv('assets/port_apps/{}_{}'.format(name, date))

In [53]:
port = pd.read_csv('assets/port_apps/{}_apr_{}.csv'.format('Anish', date))

In [54]:
port = port.fillna(" ")

In [58]:
apr_db = gc.create('sc_aps')
perf_db = gc.create('sc_perf')

In [56]:
worksheet = sh.add_worksheet("test", 100, 100)

In [28]:
lg_db = gc.create('league')

In [57]:
worksheet.update([port.columns.values.tolist()] + port.values.tolist(),)

{'spreadsheetId': '13gSQL3XfW8p7SDfj_Lv6eWM37gDcVtpkKmb7bY0_WcA',
 'updatedRange': 'test!A1:G13',
 'updatedRows': 13,
 'updatedColumns': 7,
 'updatedCells': 91}