In [106]:
import pandas as pd
import warnings
from pandas.core.common import SettingWithCopyWarning
from yahoo_fin import stock_info as si
import datetime
import pickle
import tqdm
import numpy as np
import pandas_market_calendars as mcal
import os
import emoji

In [29]:
warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)
warnings.simplefilter(action='ignore', category=FutureWarning)

In [3]:
today = datetime.datetime.today().date()
s_date = '2021-12-31'
nyse = mcal.get_calendar('NYSE') # set up calendar
market_days = nyse.valid_days(start_date=s_date, end_date=today).date # get valid market days

In [4]:
def create_initials():
    """
    creates the initial allocations using the provided CSV
    :return: a pandas df of initial allocations
    """
    inital_allocs = pd.read_csv('assets/init_alloc.csv', index_col='stocks') # read in initial allc csv
    inital_allocs = inital_allocs*1000000 # convert to $ value
    stocks = list(inital_allocs.index) # put all stocks in list
    px_dat = [] # px data for day 0
    for stock in stocks:# loop through all stocks
        k = si.get_data(stock, start_date='2021-12-31', end_date='2022-01-01', interval='1d') # request relevant info
        px = k['close'].iloc[0] # take only the closing px on the day
        px_dat.append(px) # append to the list
    inital_allocs['px_dat'] = px_dat # add px data to alloc df
    init_shares = inital_allocs.floordiv(inital_allocs['px_dat'].to_numpy(), axis=0) # ensures
    init_shares['px_dat'] = px_dat
    init_shares.to_csv("assets/shares.csv", index = True)
    return init_shares

In [5]:
create_initials()

,Anish,Emily,Paul,Kirby,Hosegood,Leong,Olivia,Brokaw,Eric H,Kyle Cross,...,Farrah,Baldridge,Rubyann,Mac,Madison,Karsa,Sergio,Daniel K,Candice,px_dat
stocks,,,,,,,,,,,,,,,,,,,,,
RIVN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,964.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,103.690002
LCID,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2628.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,38.049999
APPS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1639.0,0.0,4099.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,60.990002
BUR,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9469.0,0.0,4734.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,10.560000
FIGS,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3628.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,27.559999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
BIDU,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,672.0,148.789993
BABA,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,841.0,118.790001
DIDI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20080.0,4.980000
VZIO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5146.0,19.430000
NIO,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3156.0,31.680000

In [6]:
def update_stocklist(stocks_in=[], stocks_out=[]):
    """
    create a security master file
    :param stocks_in: stocks that are going into portfolios.
    :param stocks_out: Stocks comming out of portfolios
    :return:
    """
    try: #try to do the following
        with open('assets/stock_list.pkl', 'rb') as f: # open the stock list pickle file
            stock_list = pickle.load(f) # load the file
        new = [] # this is a new list of stocks
        for s in stock_list: # for every stock in the list of existing stocks
            if s not in stocks_out: # if the stock is not in the out list
                new.append(s) # keep the stock in the master stock list
        for t in stocks_in: # for every stock in the list of new stocks
            if t not in new: # if the stock is NOT in the master already
                new.append(t) # add it
        with open('assets/stock_list.pkl', 'wb') as f: # re-open the pickle file
            pickle.dump(new, f) # save it
    except: #otherwise
        with open('assets/stock_list.pkl', 'wb') as f: # just create a new master using the new assets
            pickle.dump(stocks_in, f) # save it
    return

In [7]:
def update_px():
    """
    update the prices of the stocks in the system
    :return:
    """
    with open('assets/stock_list.pkl', 'rb') as f: # open tha master stock list
        stock_list = pickle.load(f) # load into the system
    today = datetime.datetime.today().date().strftime('%Y-%m-%d') # set the date
    # for every stock in the system get stock price data and save to a csv
    for stock in tqdm.tqdm(stock_list):
        k = si.get_data(stock, start_date='2021-12-31', end_date=today, interval='1d') # request relevant info
        k.to_csv('assets/px_dat/{}_px.csv'.format(stock))
    return

In [8]:
def update_bm():
    """
    update the benchmark data
    :return:
    """
    with open('assets/bm_list.pkl', 'rb') as f: # open the BM master list
        stock_list = pickle.load(f) # load into the system
    today = datetime.datetime.today().date().strftime('%Y-%m-%d') # today's date
    #for every stock in the system get stock price data and save to a csv
    for stock in tqdm.tqdm(stock_list):
        k = si.get_data(stock, start_date='2021-12-31', end_date=today, interval='1d') # request relevant info
        k.to_csv('assets/bm_dat/{}_px.csv'.format(stock))
    return

In [9]:
def update_divs():
    """
    update dividend data for all stocks
    :return:
    """
    with open('assets/stock_list.pkl', 'rb') as f: # open tha master stock list
        stock_list = pickle.load(f) # load into the system
    today = datetime.datetime.today().date().strftime('%Y-%m-%d') # set the date
   # for every stock in the system get stock dividend data and save to a csv
    for stock in tqdm.tqdm(stock_list):
        k = si.get_dividends(stock, start_date='2021-12-31', end_date=today) # request relevant info
        k.to_csv('assets/dividends/{}_div.csv'.format(stock))
    return

In [10]:
update_divs()

100%|██████████| 146/146 [00:17<00:00,  8.27it/s]

In [11]:
update_bm()

100%|██████████| 8/8 [00:00<00:00,  8.02it/s]

In [31]:
def generate_snap(name, date, trades = {}, cash = 1000000):
    """
    creates a portfolio appraisal
    :param name: <str> name of the player
    :param date: <str> the date in question format is YYYY-MM-DD
    :param trades: <dict> list of trades to execute
    :return: <df> appraisal
    """
    # initial trade
    if date == '2021-12-31': # assuming its the initial trade day:
        position = pd.DataFrame(trades, index=["Shares"]).T # Create the initial positions
        px = [pd.read_csv('assets\px_dat\{}_px.csv'.format(i), index_col=0).loc[date]['close'] for i in position.index] # read the price data
        position['Cost Per Share'] = px # add price data to the initial positions df
        position['Cost Basis'] = position['Cost Per Share'] * position['Shares'] # calculate cost basis
        position['Current Price'] = px # current px is also the close in this case
        position['As of {}'.format(date)] = position['Current Price'] * position['Shares'] # calculate currenc vlaue
        position['Return'] = (position['As of {}'.format(date)]/position['Cost Basis'])-1 # calculate position returns
        divs = [] # set up dividend list
        # get dividends
        for stock in position.index: # loop through stocks
            d_dat = pd.read_csv('assets\dividends\{}_div.csv'.format(stock), index_col=0) # get div data
            d_dat.index = pd.to_datetime(d_dat.index) # set dates as datetime
            d_dat = d_dat[d_dat.index==pd.to_datetime(date)] # isolate today's date
            if len(d_dat)>0: # if dividend data exists
                divs.append(d_dat['dividend'].loc[pd.to_datetime(date)]) # add it to the divs list
            else:
                divs.append(0) # otherwise just add 0
        div_pay = np.dot(position['Shares'], np.array(divs))
        new_cash = cash - np.sum(position['As of {}'.format(date)]) + div_pay #  calculate the new cash position
        cash_pos = pd.DataFrame({"Shares":new_cash, "Cost Per Share": 1, "Cost Basis" : new_cash,
                                 "Current Price": 1, 'As of {}'.format(date): new_cash, "Return":0}, index = ["Cash"]) # create cash line
        position = pd.concat([position, cash_pos]) # combine cash line with positions
        total_line = pd.DataFrame({'Cost Basis': position['Cost Basis'].sum(),
                                   'As of {}'.format(date): position['As of {}'.format(date)].sum()}, index = ["Total"])# create total line
        total_line['Return'] = (total_line['As of {}'.format(date)]/total_line['Cost Basis'])-1 # calculate portfolio total return (like this for day one only)
        position = pd.concat([position, total_line]) # combine total with positions
        position = position.fillna("") # fill all nas with white space
        position.to_csv('assets/port_apps/{}_apr_{}.csv'.format(name, date)) # create csv
    else:
        loc = np.where(market_days== pd.to_datetime(date))[0][0] # finde the location of todays date in the market days calendar
        previous_loc = loc-1 # go back one day
        prev_date = market_days[previous_loc].strftime("%Y-%m-%d") # get yesterday's date
        position = pd.read_csv("assets/port_apps/{}_apr_{}.csv".format(name, prev_date),index_col = 0) # get the previous apraisal
        previous_cash = position.loc['Cash']['As of {}'.format(prev_date)] # store the cash value
        previous_port_val = position['As of {}'.format(prev_date)].iloc[:-1].sum()
        px = [pd.read_csv('assets\px_dat\{}_px.csv'.format(i), index_col=0).loc[date]['close'] for i in position.index[:-2]] # read the price data
        px.append(1) #append for cash
        px.append('') # append for total
        position['Current Price'] = px # current px
        position['As of {}'.format(date)] = position['Current Price'] * position['Shares'] # calculate currenc vlaue
        position['Return'] = (position['As of {}'.format(date)]/position['Cost Basis'])-1 # calculate position returns
        divs = [] # set up dividend list
        # get dividends
        for stock in position.index[:-2]: # loop through stocks
            d_dat = pd.read_csv('assets\dividends\{}_div.csv'.format(stock), index_col=0) # get div data
            d_dat.index = pd.to_datetime(d_dat.index) # set dates as datetime
            d_dat = d_dat[d_dat.index==pd.to_datetime(date)] # isolate today's date
            if len(d_dat)>0: # if dividend data exists
                divs.append(d_dat['dividend'].loc[pd.to_datetime(date)]) # add it to the divs list
            else:
                divs.append(0) # otherwise just add 0
        div_pay = np.dot(position['Shares'].iloc[:-2], np.array(divs))
        new_cash = previous_cash+div_pay
        if len(trades.keys())>0:
            new_position = pd.DataFrame(trades, index=["Shares"]).T # Create the initial positions
            px_new = [pd.read_csv('assets\px_dat\{}_px.csv'.format(i), index_col=0).loc[date]['close'] for i in new_position.index] # read the price data
            new_position['Cost Per Share'] = px_new # add price data to the initial positions df
            new_position['Cost Basis'] = new_position['Cost Per Share'] * new_position['Shares'] # calculate cost basis
            new_position['Current Price'] = px_new # current px is also the close in this case
            new_position['As of {}'.format(date)] = new_position['Current Price'] * new_position['Shares'] # calculate currenc vlaue
            if new_cash - new_position['As of {}'.format(date)].sum() > 0: # make sure new cash is greater than 0
                new_cash = new_cash - new_position['As of {}'.format(date)].sum() # adjust cash for new positions
                new_apr = pd.concat([position.iloc[:-2], new_position]) # combine old positions with new
                new_apr = new_apr.drop(['As of {}'.format(prev_date)], axis = 1) # remove old value
                updated_apr = pd.DataFrame() # this is the new appraisal df
                for stock in new_apr.index.unique(): # loop through the stocks
                    df = new_apr[new_apr.index==stock] # isolate stock lines
                    if len(df)<2: # if there is only one line just send that to the new df
                        updated_apr = pd.concat([updated_apr, df])
                    else:
                        post_ex_shares = df['Shares'].sum() # add shares
                        post_ex_cost_basis = df['Cost Basis'].sum() # combine cost basis
                        post_ex_as_of = df['As of {}'.format(date)].sum() # combine values
                        post_ex_cost_per = post_ex_cost_basis/post_ex_shares # back out per share cost
                        post_ex_cur = post_ex_as_of/post_ex_shares # share value
                        to_apr = pd.DataFrame({"Shares":post_ex_shares, "Cost Per Share":post_ex_cost_per,
                                               "Cost Basis": post_ex_cost_basis, "Current Price": post_ex_cur,
                                               'As of {}'.format(date): post_ex_as_of}, index=[stock]) # create the df line
                        updated_apr = pd.concat([updated_apr, to_apr]) # add the new position to the apr
                position = updated_apr.copy(deep = True) # this is now the new position
            else:
                pass
        else:
            position = position.iloc[:-2]
            position = position.drop(['As of {}'.format(prev_date)], axis = 1)
        position['Return'] = (position['As of {}'.format(date)]/position['Cost Basis'])-1 # calculate position returns
        cash_pos = pd.DataFrame({"Shares":new_cash, "Cost Per Share": 1, "Cost Basis" : new_cash,
                                 "Current Price": 1, 'As of {}'.format(date): new_cash, "Return":0}, index = ["Cash"]) # create cash line
        position = pd.concat([position, cash_pos]) # combine cash line with positions
        total_line = pd.DataFrame({'Cost Basis': position['Cost Basis'].sum(),
                                   'As of {}'.format(date): position['As of {}'.format(date)].sum()}, index = ["Total"])# create total line
        total_line['Return'] = (total_line['As of {}'.format(date)]/previous_port_val)-1 # calculate portfolio total return (like this for day one only)
        position = pd.concat([position, total_line]) # combine total with positions
        position = position.fillna("") # fill all nas with white space
        position.to_csv('assets/port_apps/{}_apr_{}.csv'.format(name, date)) # create csv


    return position

In [99]:
# update performance
def update_perf(name):
    apr_path = "assets/port_apps" # path to appraisal file
    apr_list = os.listdir(apr_path) # create list of apraisals
    relev_files = [i for i in apr_list if i.split("_")[0]==name]
    dates = []
    values = []
    for file in relev_files:
        df = pd.read_csv('{}/{}'.format(apr_path,file), index_col=0)
        date = file.split("_")[-1]
        date = date.split(".")[0]
        dates.append(date)
        val = df["As of {}".format(date)].loc['Total']
        values.append(val)
    perf_file = pd.DataFrame({"Date":dates, "Value": values})
    perf_file['Daily Return']=perf_file['Value'].pct_change().fillna(0)
    perf_file['Total Return'] = (perf_file['Value']/perf_file['Value'].iloc[0])-1
    bm_key = pd.read_csv("assets/Player_bm.csv", index_col=0)
    bm = bm_key[bm_key["Name"]==name]["Benchmark"].iloc[0]
    bm_px = pd.read_csv("assets/bm_dat/{}_px.csv".format(bm), index_col=0)
    bm_px = bm_px.filter(['adjclose'])
    bm_px['{} Daily Return'.format(bm)] = bm_px['adjclose'].pct_change().fillna(0)
    bm_px['{} Total Return'.format(bm)] = (bm_px['adjclose']/bm_px['adjclose'].iloc[0])-1
    perf_file=perf_file.set_index('Date').join(bm_px)
    perf_file.to_csv("assets/performance/{}_perf.csv".format(name))



    return perf_file

In [120]:
def update_league_tab():
    path = "assets/performance"
    perf_list = os.listdir(path)
    names = []
    one_day = []
    five_day = []
    one_month = []
    qtr = []
    s_inc = []
    bm_names = []
    bm = []
    for doc in perf_list:
        names.append(doc.split('_')[0])
        rets = pd.read_csv("{}/{}".format(path,doc))
        bm_name= rets.columns[-1].split(" ")[0]
        bm_names.append(bm_name)
        one_day.append(rets['Daily Return'].iloc[-1])
        try:
            fiv = np.prod(rets['Daily Return'].iloc[-5:] + 1)-1
        except:
            fiv = np.prod(rets['Daily Return'] + 1)-1
        try:
            mth = np.prod(rets['Daily Return'].iloc[-21:] + 1)-1
        except:
            mth = np.prod(rets['Daily Return'] + 1)-1
        try:
            qt = np.prod(rets['Daily Return'].iloc[-63:] + 1)-1
        except:
            qt = np.prod(rets['Daily Return'] + 1)-1
        si = np.prod(rets['Daily Return'] + 1)-1
        bms = rets['{} Total Return'.format(bm_name)].iloc[-1]
        five_day.append(fiv)
        one_month.append(mth)
        qtr.append(qt)
        s_inc.append(si)
        bm.append(bms)
    league = pd.DataFrame({"Player":names, "1-Day":one_day, "5-Day":five_day, "One Month":one_month,
                          "One Quarter":qtr, "Since Inception":s_inc, "Benchmark Ticker":bm_names,"Benchmark Return":bm})
    league = league.sort_values(['Since Inception'], ascending=False)
    stars = [emoji.emojize(":money_with_wings:") for i in range(0,5)]
    poop = [emoji.emojize(":poop:") for i in range(0,5)]
    unam = [emoji.emojize(":unamused:") for i in range(0,16)]
    status = stars+unam+poop
    league['Status'] = status
    league = league.reset_index(drop=True)


    return league

update_league_tab()

,Player,1-Day,5-Day,One Month,One Quarter,Since Inception,Benchmark Ticker,Benchmark Return,Status
0,Melinda,-0.003390,0.019121,0.051940,0.033520,0.033520,VLUE,-0.042569,💸
1,Westy,-0.011490,0.050121,0.049081,-0.016122,-0.016122,IVW,-0.104219,💸
2,Eric H,0.000679,0.003895,0.101914,-0.055491,-0.055491,IVV,-0.062056,💸
3,Olivia,-0.020106,0.045374,0.019209,-0.066563,-0.066563,IVW,-0.104219,💸
4,Kirby,-0.011395,0.067551,0.097007,-0.082392,-0.082392,IVW,-0.104219,💸
5,Karsa,-0.017723,0.016184,-0.051946,-0.082460,-0.082460,IYC,-0.119286,:unamused:
6,Nour,-0.014522,0.017185,0.044951,-0.083940,-0.083940,IVW,-0.104219,:unamused:
7,AK,-0.023706,0.012200,0.045550,-0.087531,-0.087531,MTUM,-0.088054,:unamused:
8,Rubyann,-0.022435,-0.005042,-0.011868,-0.100527,-0.100527,IVW,-0.104219,:unamused:
9,Baldridge,-0.018437,0.044385,0.036560,-0.109252,-0.109252,IWM,-0.083390,:unamused:
10,Mac,0.001807,0.071921,0.021088,-0.122665,-0.122665,VLUE,-0.042569,:unamused:
11,Daniel K,-0.025499,0.017253,0.028393,-0.129320,-0.129320,QUAL,-0.094188,:unamused:
12,Sergio,-0.007410,0.058475,0.109226,-0.130310,-0.130310,IVW,-0.104219,:unamused:
13,Anish,-0.021827,0.030055,0.015302,-0.145740,-0.145740,IVW,-0.104219,:unamused:
14,Jon T,-0.016339,0.047471,0.067938,-0.149401,-0.149401,IVW,-0.104219,:unamused:
15,Paul,-0.021319,0.028347,-0.036016,-0.167536,-0.167536,IVW,-0.104219,:unamused:
16,Candice,0.024883,0.155855,-0.021665,-0.174953,-0.174953,IVV,-0.062056,:unamused:
17,Weinstein,-0.016133,0.061036,0.048417,-0.175773,-0.175773,IYC,-0.119286,:unamused:
18,Madison,-0.013120,0.068929,0.086173,-0.191971,-0.191971,IVW,-0.104219,:unamused:
19,Emily,-0.022153,0.025515,-0.020241,-0.204336,-0.204336,IYW,-0.124543,:unamused:
20,Leong,-0.022179,0.025934,0.016079,-0.216156,-0.216156,IYC,-0.119286,:unamused:
21,Brokaw,-0.009399,0.070315,0.041505,-0.217461,-0.217461,IVW,-0.104219,:poop:
22,Farrah,-0.013224,0.059214,0.038688,-0.237908,-0.237908,IVW,-0.104219,:poop:
23,Bob,-0.009386,0.071890,0.066881,-0.264598,-0.264598,IYW,-0.124543,:poop:
24,Hosegood,-0.028196,0.100385,0.022571,-0.282814,-0.282814,IWM,-0.083390,:poop:
25,Kyle Cross,-0.021852,0.060982,0.013299,-0.321767,-0.321767,IWM,-0.083390,:poop:

In [100]:
# create_updates
#port_shares = pd.read_csv('assets/shares.csv',index_col=0) # read the shares csv into the system
#date = market_days[-2]
#date = date.strftime("%Y-%m-%d")
#for name in port_shares.columns[:-1]:
#    generate_snap(name=name, date=date, cash=0)

for name in port_shares.columns[:-1]:
    update_perf(name)

In [66]:
#id_bms for all
#names = [name for name in port_shares.columns[:-1]]
#bms = [id_bm(name) for name in port_shares.columns[:-1]]
#bm_df = pd.DataFrame({"Name": names, "Benchmark":bms})
#bm_df.to_csv("assets/Player_bm.csv")

In [58]:
def id_bm(name):
    """
    gets benchmark for port
    """
    port_shares = pd.read_csv('assets/shares.csv',index_col=0)  # read in portfolio data
    bm_dat = pd.read_csv('assets/bm_dat.csv', index_col = 0) # read bm_data
    port = port_shares[name].to_frame() # isolate the portfolio in question
    port = port[port[name]!=0] # eliminate every row that equals 0
    holdings = set(port.index) # create a set of holdings
    overlap = [] # overlaping list
    for b in bm_dat.columns[:-1]: # go through the benchmarks and look for overlaps
        stk = bm_dat[b].to_frame()
        stk = stk[stk[b]!=0]
        b_hold = set(stk.index)
        over = holdings & b_hold
        overlap.append((b, len(over)))
    overlap.sort(key=lambda x: x[1], reverse = True) # sort the overlap list by most to least overlap
    finalists = overlap[0:1] # chose finalists
    # chose the etf in question as a bm.
    if finalists[0][1]== 0:
        bm = bm_dat.columns[-1]
    else:
        bm = finalists[0][0]



    return bm

In [59]:
id_bm("Anish")

'IVW'

['QUAL', 'MTUM', 'VLUE', 'IWM', 'IVW', 'IYW', 'IYC', 'IVV']

,stock,QUAL,MTUM,VLUE,IWM,IVW,IYW,IYC,IVV
0,T,0.00000,0.00000,7.19575,0.00000,0.00000,0.00000,0.00000,0.46190
1,INTC,1.18210,0.00000,5.64419,0.00000,0.00000,1.93978,0.00000,0.49526
2,MU,0.00000,0.00000,4.03235,0.00000,0.00000,1.08384,0.00000,0.27464
3,CSCO,1.66228,0.00000,3.68796,0.00000,0.59213,0.00000,0.00000,0.65348
4,F,0.00000,1.00559,3.04572,0.00000,0.00000,0.00000,1.33617,0.19237
...,...,...,...,...,...,...,...,...,...
3010,CHWY,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
3011,USD,0.00000,0.00000,0.00000,0.05323,0.04958,0.05267,0.02993,0.11133
3012,SOFI,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
3013,LCID,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000
3014,HOOD,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000

In [70]:

bm_key

          Name Benchmark
0        Anish       IVW
1        Emily       IYW
2         Paul       IVW
3        Kirby       IVW
4     Hosegood       IWM
5        Leong       IYC
6       Olivia       IVW
7       Brokaw       IVW
8       Eric H       IVV
9   Kyle Cross       IWM
10         Bob       IYW
11   Weinstein       IYC
12          AK      MTUM
13        Nour       IVW
14       Jon T       IVW
15     Melinda      VLUE
16       Westy       IVW
17      Farrah       IVW
18  Baldridge        IWM
19     Rubyann       IVW
20         Mac      VLUE
21     Madison       IVW
22       Karsa       IYC
23      Sergio       IVW
24    Daniel K      QUAL
25     Candice       IVV

In [113]:
print(emoji.emojize(':poop:'))

:shit:

In [78]:
bm_px

,open,high,low,close,adjclose,volume,ticker
2021-12-31,477.660004,478.929993,476.750000,476.989990,476.989990,3980100,IVV
2022-01-03,478.380005,479.899994,475.910004,479.839996,479.839996,5560300,IVV
2022-01-04,481.369995,482.070007,477.660004,479.679993,479.679993,5452000,IVV
2022-01-05,479.269989,480.029999,470.290009,470.329987,470.329987,7211400,IVV
2022-01-06,469.950012,472.850006,467.480011,469.980011,469.980011,5959100,IVV
2022-01-07,470.019989,471.250000,466.670013,468.100006,468.100006,7673600,IVV
2022-01-10,464.690002,467.779999,458.589996,467.220001,467.220001,8975900,IVV
2022-01-11,467.260010,471.899994,464.049988,471.829987,471.829987,7552000,IVV
2022-01-12,473.730011,475.260010,470.970001,473.079987,473.079987,8938600,IVV
2022-01-13,474.220001,474.920013,465.489990,466.589996,466.589996,5351100,IVV
2022-01-14,463.140015,467.079987,461.899994,466.750000,466.750000,9652900,IVV
2022-01-18,461.700012,461.940002,457.329987,458.500000,458.500000,9681700,IVV
2022-01-19,460.000000,461.600006,453.429993,453.760010,453.760010,6260800,IVV
2022-01-20,455.739990,460.750000,448.209991,448.720001,448.720001,8907300,IVV
2022-01-21,447.579987,450.010010,439.869995,439.980011,439.980011,13981000,IVV
2022-01-24,433.950012,442.320007,422.559998,441.519989,441.519989,18241000,IVV
2022-01-25,434.989990,441.630005,429.010010,436.440002,436.440002,14720000,IVV
2022-01-26,442.709991,446.070007,430.760010,435.429993,435.429993,14881700,IVV
2022-01-27,440.190002,443.500000,431.329987,433.160004,433.160004,17529800,IVV
2022-01-28,434.640015,443.880005,429.679993,443.750000,443.750000,13069600,IVV
2022-01-31,443.109985,452.239990,441.769989,451.769989,451.769989,8537700,IVV
2022-02-01,452.690002,455.589996,448.890015,454.890015,454.890015,8777800,IVV
2022-02-02,457.570007,460.140015,455.040009,459.260010,459.260010,8744100,IVV
2022-02-03,452.920013,454.950012,447.679993,448.600006,448.600006,7835200,IVV
2022-02-04,448.239990,454.769989,445.799988,450.850006,450.850006,7108900,IVV
2022-02-07,451.510010,452.970001,447.820007,449.250000,449.250000,6353200,IVV
2022-02-08,448.709991,453.880005,447.179993,452.820007,452.820007,4955500,IVV
2022-02-09,457.260010,459.809998,457.029999,459.500000,459.500000,7144600,IVV
2022-02-10,453.390015,459.720001,449.200012,451.380005,451.380005,7476000,IVV
2022-02-11,451.339996,453.570007,440.880005,442.350006,442.350006,9436900,IVV
2022-02-14,441.880005,443.529999,437.260010,440.910004,440.910004,8249000,IVV
2022-02-15,445.640015,448.239990,445.130005,448.000000,448.000000,6722700,IVV
2022-02-16,445.760010,450.010010,443.890015,448.510010,448.510010,6315600,IVV
2022-02-17,445.179993,445.720001,438.350006,439.100006,439.100006,6435600,IVV
2022-02-18,439.339996,440.589996,433.720001,436.070007,436.070007,8059100,IVV
2022-02-22,433.750000,437.399994,427.709991,431.339996,431.339996,9939000,IVV
2022-02-23,434.480011,435.149994,423.170013,423.480011,423.480011,11345100,IVV
2022-02-24,412.799988,430.609985,412.399994,430.140015,430.140015,19259900,IVV
2022-02-25,431.440002,439.769989,429.760010,439.609985,439.609985,9651300,IVV
2022-02-28,433.929993,440.119995,432.600006,438.720001,438.720001,11167900,IVV
2022-03-01,437.000000,439.089996,429.089996,431.920013,431.920013,14288700,IVV
2022-03-02,434.309998,441.470001,433.470001,439.799988,439.799988,8947200,IVV
2022-03-03,442.440002,443.029999,435.760010,437.690002,437.690002,9927000,IVV
2022-03-04,433.750000,435.260010,429.739990,433.950012,433.950012,8081100,IVV
2022-03-07,433.440002,433.690002,421.190002,421.200012,421.200012,8790100,IVV
2022-03-08,421.429993,429.000000,416.910004,418.059998,418.059998,14798500,IVV
2022-03-09,427.040009,431.369995,424.660004,429.309998,429.309998,7703000,IVV
2022-03-10,424.369995,428.260010,422.260010,427.339996,427.339996,8046600,IVV
2022-03-11,430.049988,430.630005,421.359985,422.010010,422.010010,11299100,IVV
2022-03-14,422.899994,426.359985,417.600006,418.820007,418.820007,8925100,IVV
2022-03-15,421.540009,428.679993,420.239990,428.040009,428.040009,7882600,IVV
2022-03-16,431.929993,437.589996,426.670013,437.519989,437.519989,7961700,IVV
2022-03-17,435.440002,443.079987,435.140015,442.959991,442.959991,6514500,IVV
2022-03-18,441.359985,448.239990,440.559998,447.700012,447.700012,5275700,IVV
2022-03-21,447.720001,449.829987,444.019989,447.609985,447.609985,5679100,IVV
2022-03-22,449.220001,453.959991,449.220001,453.070007,453.070007,5356400,IVV
2022-03-23,450.359985,451.869995,447.119995,447.390015,447.390015,5550700,IVV